@import "tailwindcss";

/* reusable button */
@layer components {
  .action-btn {
    @apply flex items-center gap-2 px-4 py-2 rounded-lg
           bg-gray-100 hover:bg-gray-200
           text-sm font-medium border;
  }
}
